::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(211, 211, 211);
}

::-webkit-scrollbar-thumb {
  background: orange;

  border-radius: 5rem;
}

body {
  font-family: $causten-500;
  font-size: $font-22;
}

.container_1 {
  @include container();
}

.container_2 {
  max-width: 1220px;
  margin: 0 auto;
}
