.wrapper {
  padding: $p-10 $p-5;
}

.section {
  &__block {
    margin: $m-6 0;
  }
}

.big-saving-zone {
  padding: $p-2;

  width: 400px;
  height: 400px;

  background: url(../../img/bsz-1.jpg) no-repeat;
  background-size: 220%;
  background-position: 80% 0%;

  &-2 {
    padding: $p-2;

    width: 400px;
    height: 400px;

    background: url(../../img/bsz-2.jpg) no-repeat;
    background-size: 180%;
    background-position: 90% 0%;
  }

  &-3 {
    width: 400px;
    height: 400px;

    background: url(../../img/bsz-3.jpg) no-repeat;
    background-size: 150%;
    background-position: 50% 0%;
  }

  &-4 {
    padding: $p-2;

    width: 610px;
    height: 395px;

    background: url(../../img/bsz-4.jpg) no-repeat;
    background-size: 120%;
    background-position: 80% 0%;
  }

  &-5 {
    padding: $p-2;

    width: 610px;
    height: 395px;

    background: url(../../img/bsz-5.jpg) no-repeat;
    background-size: 110%;
    background-position: 100% 0%;
  }
}

.roof {
  position: relative;

  z-index: 10;
}

.dropdown {
  position: relative;
  transition: all 0.5s;

  z-index: 10;
  &:hover {
    cursor: pointer;

    transform: scale(1.1);
  }
}

.under__block.active-1 {
  top: 60%;
}

.under__block {
  position: absolute;
  transition: all 1s;

  top: 45%;
}

.rights.scroll {
  margin-top: 20rem;
}

.rights {
  transition: all 1s;
}

// men page

.price-block,
.colors-block,
.size-block,
.dress-block:hover {
  cursor: pointer;
}



.hiden-price {
  @include transition-1s();
  position: absolute;

  left: 0;
  top: -20px;
}

// span rigth arrow
.right-dir {
  @include transition-1s();
}
.arr-right {
  transform: rotate(-90deg);
}
//

.hiden-price.active-1 {
  top: 80px;
}

.hiden-colors.active-1 {
  top: 80px;
}

.hiden-colors {
  @include transition-1s();
  position: absolute;

  left: 0;
  top: -300px;
}

.colors-block {
  @include transition-1s();

}

.colors-block.active-1 {
  margin-top: 9rem;
}

.size-block {
  @include transition-1s();

}

.size-block.active-1 {
  margin-top: 20rem;
}

.hiden-sizes {
  @include transition-1s();
  position: absolute;

  left: 0;
  top: -260px;
}

.hiden-sizes.active-1 {
  top: 84px;
}

.dress-block {
  @include transition-1s();

}

.hiden-dress {
  @include transition-1s();
  position: absolute;

  width: 100%;

  top: -260px;
  
}

.hiden-dress.active-1 {
  top: 79px;
}

.dress-block.active-1 {
  margin-top: 15rem;
}

.footer {
  @include transition-1s();
}

.footer.active-1 {
  margin-top: 21rem;
}