.swiper {
  width: 100%;
  height: 100vh;

  &-button {
    &-prev {
      &::after {
        color: $color-white;
      }
    }

    &-next {
      &::after {
        color: $color-white;
      }
    }
  }
}

.swiper .swiper-button-prev {
  left: 2%;
}

.swiper .swiper-button-next {
  right: 2%;
}

.swiper .swiper-scrollbar.swiper-scrollbar-horizontal {
  bottom: 5%;
  left: 50%;

  height: 15px;
  width: 10%;

  transform: translate(-50%, 0);

  background: $color-white-0-5;

  .swiper-scrollbar-drag {
    padding: 0.5rem;

    background-color: $color-white;
  }
}

.bg1 {
  background: url(../../img/Banner.png) no-repeat;
  background-size: 100%;

  cursor: pointer;
  .title {
    width: 40%;
  }
}

.bg2 {
  background: url(../../img/banner-2.jpg) no-repeat;
  background-size: 110%;
  background-position: 0% 50%;

  cursor: pointer;
  .title {
    width: 40%;
  }
}

.mySwiper {
  height: 350px;

  .wrapper-img {
    @include transition();

    width: 263px;
    height: 263px;

    background: url(../../img/card-product-1.jpg) no-repeat;
    background-size: 100%;

    border-radius: 1rem;

    &-2 {
      background: url(../../img/card-product-2.jpg) no-repeat;
      background-size: 150%;
      background-position: 70% 50%;
    }

    &-3 {
      background: url(../../img/card-product-3.jpg) no-repeat;
      background-size: 150%;
      background-position: 50% 50%;
    }

    &-4 {
      background: url(../../img/card-product-4.jpg) no-repeat;
      background-size: 150%;
      background-position: 50% 50%;
    }

    &-5 {
      background: url(../../img/card-product-5.jpg) no-repeat;
      background-size: 150%;
      background-position: 50% 50%;
    }

    &-6 {
      background: url(../../img/card-product-6.jpg) no-repeat;
      background-size: 100%;
      background-position: 50% 50%;
    }

    &-7 {
      background: url(../../img/card-product-7.png) no-repeat;
      background-size: 150%;
      background-position: 100% 50%;
    }

    &-8 {
      background: url(../../img/card-product-8.png) no-repeat;
      background-size: 150%;
      background-position: 50% 50%;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &:hover {
    cursor: pointer;
  }

  .second-prev {
    &::after {
      content: "←";
      font-size: $font-28;
      position: absolute;
      left: -25px;

      color: $color-btn-shop;
    }
  }

  .second-next {
    &::after {
      content: "→";
      font-size: $font-28;
      position: absolute;
      right: -15px;

      color: $color-btn-shop;
    }
  }
}

.swiperComments {
  .swiper-pagination-bullet-active {
    background-color: $color-btn-shop;
  }
  .swiper-slide {
    &:hover {
      cursor: pointer;
    }
  }
}
