// COLORS
$color-white: rgb(255, 255, 255);
$color-white-0-5: rgba(255, 255, 255, 0.5);
$color-black: rgb(0, 0, 0);
$bg-nav-item: #f6f6f6;
$color-ico-btn: #807d7e;
$color-ico-btn-op: #817e7f80;
$color-btn-shop: #3c4242;
$color-page-border-left: #8a33fd;
$color-card-naming: #2a2f2f;
$color-card-naming-2: #7f7f7f;
$color-orange: rgb(255, 165, 0);
$color-yellow: #fbd103;
$color-womens-clothing: #3F4646;

// colors-filter
$color-purple: #8434e1;
$color-red: #f35528;
$color-white-dark: #f4f1f1;
$color-orange-dark: #f16f2b;
$color-navy: #345eff;
$color-broom: #d67e3b;
$color-green: #48bc4e;
$color-yellow-dark: #fdc761;
$color-gray-dark: #e4e5e8;
$color-pink: #e08d9d;
$color-blue: #3fdeff;

// FONT-FAMILY
$causten-300: Causten300;
$causten-400: Causten400;
$causten-500: Causten500;
$causten-600: Causten600;
$causten-700: Causten700;

$CoreSansC-500: CoreSansC500;
$CoreSansC-600: CoreSansC600;
$CoreSansC-800: CoreSansC800;

$Montserrat-800: Montserrat800;

// FONTS
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;
$font-26: 26px;
$font-28: 28px;
$font-30: 30px;
$font-32: 32px;
$font-34: 34px;
$font-36: 36px;
$font-78: 78px;

// PADDINGS
$p-0-5: 0.5rem;
$p-1: 1rem;
$p-2: 2rem;
$p-3: 3rem;
$p-4: 4rem;
$p-5: 5rem;
$p-10: 10rem;
$p-15: 15rem;

// MARGINS
$m-0-5: 0.5rem;
$m-1: 1rem;
$m-2: 2rem;
$m-3: 3rem;
$m-4: 4rem;
$m-5: 5rem;
$m-6: 6rem;
$m-8: 8rem;
$m-10: 10rem;
$m-15: 15rem;
